@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');


.navbar {
	background: #333333 !important;
}

#footer-style {
	background: #333333 !important;
}

#about-lockers {
	height: 100vh;
	width: 100vw;
}

.about-text {
	font-family: 'Bangers', cursive;
	letter-spacing: 0.12rem;
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);	
	font-size: 1.5rem;
	text-align: center;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.about-text span {
	color:#EC3C37;
}

.about-text h3 {
	font-family: 'Bangers', cursive;
	letter-spacing: 0.1rem;
	font-size: 2.5rem;
   color: #F0cd13;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

body {
	background-color: #989898;
	color: white;
}

#header-text {
	font-family: 'Bangers', cursive;
	letter-spacing: 0.1rem;
	font-size: 1.9rem;
   color: #F0cd13;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#logo-text1 {
	font-family: 'Bangers';
	letter-spacing: 0.09rem;
	color: #EC3C37;
}

#user-text {
	font-family: 'Bangers';
	letter-spacing: 0.09rem;
	color: #f2a28d;
}

#empty-link {
	color: yellow !important;
}

.card {
	background: rgba(0, 0, 0, 0.6) !important;
	border-width: 0.3rem;
	border-style: dashed;
	border-color: black;
}

.btn {
	border-radius: 15px 40px;
}

#history-btn {
	border-radius: 5px;
}


@media (max-width: 600px) {
	/*About Page Responsiveness*/
	.about-text {
		margin-top: 10%;
		transform: translate(-50%, -50%);
	}
	.about-text h3 {
		font-size: 1.5rem;
	}
	.about-text p {
		font-size: 1rem;
	}
	#header-text {
    font-size: 1.5rem;
  }
  table {
    font-size: 12px;
  }
  .card {
    max-width: 70vw;
    font-size: 13px;
    margin: auto;
  }
  .card-title {
    font-size: 16px;
    text-decoration: underline;
  }
  .btn {
    font-size: 13px;
  }
  .card input {
    font-size: 13px;
  }
  .card select {
    font-size: 13px;
  }


}